.pimage img {
    width: 200px;
    height: 200px;
}

body {
    box-sizing: border-box;
    background: url(11.png) top center no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 58px;
    align-items: center;
    font-size: 14.5px;
}

.main {
    border: 0.0cm solid rebeccapurple;
    width: 72%;
}

.class1 {
    border: 0.0cm solid rgb(0, 0, 0);
    display: flex;
    position: relative;
    flex-direction: column;
}

.class2 {
    border: springgreen 0.0cm solid;
    display: flex;
    position: relative;
    flex-direction: column;
}

.im2 {
    position: absolute;
}

.im1 {
    width: 100%;
    height: 100%;
}

ul {
    display: table;
    border: black 0px solid;
    align-items: center;
    width: 98.5%;
    justify-content: space-around;
    padding: 0%;
    height: 60%;
    margin-top: -0.5%;
    text-align: center;
}

li {
    display: table-cell;
    text-align: center;
    color: white;
    height: 30px;
    padding: 0.2%;
}

.ACC {
    background: URL(10.png) center;
    background-size: cover;
    align-items: center;
}

.autre {
    background-color: rgb(128, 21, 21);
    align-items: center;
}

.bottom img {
    padding: 0%;
    width: 100%;
}

.photo_bas {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.top {
    border: red 0px double;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.ODD {
    position: relative;
    bottom: 30px;
}

.titre1 {
    color: rgb(194, 16, 16);
}

.texte {
    width: 45%;
}

.ODD h5 {
    position: relative;
    top: 12px;
}